.wrapperMain {
  display: flex;
}

.menuButton {
  display: flex;
  background: none;
  border: none;
  color: var(--color-text);
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.menuButton:focus-visible {
  outline: 2px solid var(--color-text);
  outline-offset: 3px;
}

.list {
  position: fixed;
  top: 3.5rem;
  left: 0;
  right: 0;
  margin-left: auto;
  margin-right: auto;
  height: 100%;
  width: calc(100% - 2rem);
  max-width: 1080px;
  display: flex;
  flex-direction: column;
  list-style: none;
  text-align: right;
  background-color: var(--color-background);
  border: 1px solid var(--color-background-secondary);
  z-index: 100;
  touch-action: none;
  overflow-y: hidden;
}

.list li {
  height: 5rem;
  font-size: 30px;
}

.list li:nth-child(2) {
  border-top: 1px solid var(--color-background-secondary);
  border-bottom: 1px solid var(--color-background-secondary);
}

.list li:nth-child(3) {
  border-bottom: 1px solid var(--color-background-secondary);
}

.iconWrapper {
  margin: 0 1rem 0 0;
  height: 2.5rem;
  display: flex;
  border: 1px solid var(--color-background-secondary);
  border-radius: 10px;
  overflow: hidden;
}
.iconWrapper svg {
  margin: 0.5rem;
}

.iconInnerWrapper {
  cursor: pointer;
}

.iconInnerWrapper:focus-visible {
  outline-color: var(--color-text);
  border-radius: 10px;
}

.iconInnerWrapper:first-of-type {
  border-radius: 10px 0 0 10px;
}

.iconInnerWrapper:last-of-type {
  border-radius: 0 10px 10px 0;
}

.list li a,
.list li button,
.logoutWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: flex-end;
  gap: 2rem;
  color: var(--color-text);
  border: none;
  background: none;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.pairControlButtonWrapper {
  display: flex;
}

.iconWrapper span {
  height: 100%;
  border-left: 1px solid var(--color-background-secondary);
}

@media (max-width: 1080px) {
  .list {
    top: 3.5rem;
    width: 100%;

    border-left: none;
    border-right: none;
  }
}
