.wrapperMain {
  margin: 0 0 3rem 0;
  padding: 0 1rem;
  min-height: 90vh;
  width: 100%;
  max-width: 50rem;
  display: flex;
  flex-direction: column;
  align-items: center;
  overflow: hidden;
}

.introWrapper {
  margin: 1rem 0 0 0;
  padding: 0.5rem 2.5rem 0.5rem 2.5rem;
  min-width: 20rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.introWrapper h1 {
  text-align: center;
  font-size: 30px;
  font-weight: 800;
}

.sectionWrapper {
  min-height: 70vh;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainControlsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.addButton,
.loadMoreButton {
  margin: 1rem 0 0 0;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-background-secondary);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.addButton:focus-visible {
  outline: 2px solid var(--color-text);
}

.list {
  width: 100%;
  list-style: none;
  display: flex;
  flex-direction: column;
}
.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorMessage,
.successMessage {
  margin-top: 1rem;
  color: var(--color-text-danger);
  font-size: 12px;
  text-align: center;
}

.successMessage {
  color: var(--color-text);
}

.controlsWrapper {
  position: relative;
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controlsWrapper button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  overflow: hidden;
}

.noResultsMessage,
.noPairsMessage {
  text-align: center;
  padding: 2rem;
  font-style: italic;
  color: var(--color-text);
}

.noPairsMessage {
  font-style: normal;
}

@media (max-width: 530px) {
  .introWrapper {
    padding: 0.5rem 0 0.5rem 0;
    width: 100%;
    min-width: 0;
  }
}
