.mainWrapper {
  margin: 0 0 0 0;
  padding: 0 2rem;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.mainWrapper h2 {
  font-size: 30px;
}

.hero {
  text-align: center;
}

.hero p {
  margin: 1vh 0 1rem 0;
  font-size: 1.3rem;
  text-transform: uppercase;
  color: var(--color-text);
}

.pairsWrapper {
  min-height: 26rem;
}

.mainStaticWrapper {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulWrapperInner {
  display: flex;
}

.mainStaticWrapper ul {
  list-style: none;
}

.leftColumn {
  padding: 0 1rem;
}

.rightColumn {
  padding: 0 1rem;
}

.features {
  margin: 1rem 0 0 0;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  flex-wrap: wrap;
  gap: 2rem;
}

.feature {
  padding: 1.5rem;
  width: 21rem;
  flex-basis: calc(33% - 2rem);
  background-color: var(--color-background-highlight);
  border-radius: 20px;
  text-align: center;
}

.feature h3 {
  margin-bottom: 0.5rem;
  font-size: 1.3rem;
  color: var(--color-text);
}

.feature p {
  font-size: 1rem;
  color: var(--color-text);
  opacity: 0.8;
}

@media (max-width: 768px) {
  .feature {
    flex-basis: 100%;
  }
}

@media (max-width: 360px) {
  .feature {
    width: 95vw;
  }
}
