.controlButton {
  height: 2.5rem;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background-color: transparent;
  border: 1px solid var(--color-background-secondary);
  border-radius: 20px;
  text-wrap: nowrap;
  cursor: pointer;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.controlButtonWrapper {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.controlButtonWrapper span {
  height: 100%;
  border-right: 1px solid var(--color-background-secondary);
}

.controlButtonWrapper button,
.controlButton button {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  color: var(--color-text);
  background: transparent;
  border: transparent;
  cursor: pointer;
}

.controlsWrapper {
  position: relative;
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controlsWrapper button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  border-radius: 20px;
  overflow: hidden;
}

.controlsWrapper button:focus-visible {
  outline-color: var(--color-text);
}

.controlButtonWrapper button:first-of-type {
  border-radius: 20px 0 0 20px;
}

.controlButtonWrapper button:last-of-type {
  border-radius: 0 20px 20px 0;
}
