.mainWrapper {
  width: 100%;
  max-width: 1080px;
  display: flex;
  justify-content: center;
  align-items: center;
}

.ulWrapperInner {
  display: flex;
}

.mainWrapper ul {
  list-style: none;
}

.leftColumn {
  padding: 0 1rem;
}

.rightColumn {
  padding: 0 1rem;
}
