.wrapperMain {
  /* height: 89vh; */
  width: 100%;
  max-width: 24rem;
  display: flex;
  flex-direction: column;
  /* justify-content: center; */
  align-items: center;
}

.minPairsMessage {
  margin: 0 0;
  padding: 2rem;
  height: 26rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  text-align: center;
  border: 1px solid var(--color-text);
  border-radius: 8px;
}

.minPairsMessage a {
  margin: 1rem 0 0 0;
  width: 6rem;
  display: flex;
  flex-direction: column;
  font-weight: 600;
}

.minPairsMessage span {
  height: 1px;
  width: 100%;
  border-top: 1px solid var(--color-text);
}

.timerWrapper {
  margin: 0 0 1rem 0;
  height: 3rem;
}

.timerWrapper p {
  font-size: 30px;
}

.controlsWrapper {
  padding: 0 1rem 1rem 1rem;
  /* height: 15rem; */
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  font-size: 18px;
  font-weight: 600;
}

.resetButton {
  /* margin: 1rem 0 0 0; */
  height: 3rem;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-text);
  border-radius: 20px;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.startWrapper {
  /* padding: 1rem; */
  height: 7rem;
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  border: 1px solid var(--color-text);
  border-radius: 20px;
  overflow: hidden;
}

.startWrapper button {
  height: 100%;
  width: 100%;
  color: var(--color-text);
  font-size: 26px;
  background-color: var(--color-background);
  border: none;
  cursor: pointer;
  user-select: none;
  -webkit-tap-highlight-color: transparent;
}

.startWrapper p {
  height: 100%;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.spinnerWrapper {
  height: 26rem;
}
