.controlButtonsWrapper {
  display: flex;
  gap: 1rem;
}

.button {
  margin: 1rem 0 0 0;
  height: 3rem;
  width: 12rem;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 0.5rem;
  color: var(--color-text);
  background-color: var(--color-background);
  border: 1px solid var(--color-background-secondary);
  border-radius: 20px;
  cursor: pointer;
  overflow: hidden;
  -webkit-tap-highlight-color: transparent;
}

.button:focus-visible {
  outline: 2px solid var(--color-text);
}

.modalOverlay {
  position: fixed;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(0, 0, 0, 0.5);
  z-index: 999;
}

.modal {
  position: fixed;
  top: 30vh;
  padding: 2rem;
  width: 90%;
  max-width: 400px;
  background-color: var(--color-background);
  border-radius: 20px;
  z-index: 1000;
  box-shadow: 0 20px 25px -5px rgba(0, 0, 0, 0.1), 0 10px 10px -5px rgba(0, 0, 0, 0.04);
}

.modalContent {
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 1rem;
  text-align: center;
  color: var(--color-text);
}

.modalContent h3 {
  margin: 0;
  font-size: 20px;
  font-weight: 600;
}

.modalContent p {
  margin: 0;
  font-size: 16px;
}

.modalButtons {
  margin-top: 1rem;
  width: 100%;
  display: flex;
  gap: 1rem;
}

.cancelButton,
.deleteButton {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  flex: 1;
  border: 1px solid var(--color-background-secondary);
  border-radius: 20px;
  cursor: pointer;
  gap: 0.5rem;
  -webkit-tap-highlight-color: transparent;
}

.deleteButton {
  background-color: var(--color-text);
  color: white;
}

@media (max-width: 650px) {
  .button {
    width: 6rem;
  }

  .modal {
    top: 25vh;
    width: 95%;
  }
}
