.wordPairListItem {
  display: flex;
  flex-direction: column;
  align-items: center;
  font-size: 14px;
  border: 1px solid var(--color-background-secondary);
  border-radius: 20px;
  margin: 1rem 0 0 0;
}

.wordDetailsWrapper {
  padding: 1rem 0 0 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  gap: 0.5rem;
  border-bottom: 1px solid var(--color-background-secondary);
}

.wordWrapperOuter,
.categoryWrapperOuter {
  padding: 0.5rem 1rem;
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 0.5rem;
}

.wordWrapperOuter input {
  padding: 1rem;
  height: 100%;
  width: 100%;
  font-weight: 600;
  color: var(--color-text);
  -webkit-text-fill-color: var(--color-text);
  background: transparent;
  border: 1px solid var(--color-background-secondary);
  border-radius: 10px;
}

.wordWrapperOuter input:disabled {
  -webkit-text-fill-color: var(--color-text);
  opacity: 1;
  -webkit-opacity: 1;
  -webkit-appearance: none;
  appearance: none;
}

.wordWrapperOuter input:focus-visible {
  outline: 3px solid var(--color-text);
}

.wordAttribute {
  width: 4.5rem;
}

.pairTagsWrapper {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  background-color: var(--color-background);
  border-top: 1px solid var(--color-background-secondary);
  overflow: hidden;
}

.pairTagsLabelWrapper {
  padding: 0.5rem 0;
  width: 100%;
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: center;
  font-size: 16px;
  font-weight: 600;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.pairTagsWrapper ul {
  padding: 0 1rem;
  width: 100%;
  list-style: none;
}

.pairTagsWrapper li {
  margin: 0.5rem;
  height: 2rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  cursor: pointer;
  -webkit-tap-highlight-color: transparent;
}

.pairTagsWrapper ul li:last-child {
  margin-bottom: 1rem;
}

.pairTagsWrapper li p {
  margin: 0 0 0 1rem;
  font-weight: 600;
}

.pairTagsWrapper input {
  height: 100%;
  width: 1.5rem;
}

.tagCheckbox {
  cursor: pointer;
}

.tagCheckbox:checked {
  accent-color: var(--color-background-highlight);
}

.pairTagsWrapper label {
  padding: 0 0 0 1rem;
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  font-weight: 600;
  cursor: inherit;
}

.errorWrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.errorMessage {
  margin-top: 1rem;
  color: var(--color-text-danger);
  font-size: 12px;
  text-align: center;
}

.controlsWrapper {
  position: relative;
  margin: 1rem 0 1rem 0;
  width: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  gap: 1rem;
}

.controlsWrapper button {
  -webkit-tap-highlight-color: transparent;
  user-select: none;
  overflow: hidden;
}

.pairCount {
  position: absolute;
  right: 2rem;
}

@media (max-width: 650px) {
  .pairCount {
    right: 1rem;
  }
}
