.toggleLabel {
  width: 100%;
  display: flex;

  justify-content: space-between;
  align-items: center;
  cursor: pointer;
}

.labelText {
  font-size: 18px;
  color: var(--color-text);
}

.switchContainer {
  position: relative;
  width: 80px;
  height: 44px;
}

.toggleInput {
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: var(--color-background-secondary);
  transition: 0.4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 34px;
  width: 34px;
  left: 5px;
  bottom: 5px;
  background-color: white;
  transition: 0.4s;
}

.toggleInput:checked + .slider {
  background-color: var(--color-background-highlight);
}

.toggleInput:focus + .slider {
  box-shadow: 0 0 1px var(--color-background-highlight);
}

.toggleInput:checked + .slider:before {
  transform: translateX(36px);
}

.slider.sliderRound {
  border-radius: 44px;
}

.slider.sliderRound:before {
  border-radius: 50%;
}
