.wrapper {
  margin: 0 0 1rem 0;
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
  background: transparent !important;
  border-radius: inherit;
  overflow: hidden;
  border-radius: 9999px !important;
}

.wrapper iframe {
  background: transparent !important;
  border-radius: 9999px !important;
}
